.ItemSearch .component-input-form {
  display: flex;
}

.ItemSearch input[type="text"] {
  flex-grow: 2;
  border-radius: 4px;
  background: #f5eedc;
  border: 2px solid #f5eedc;
  color: #4f091d;
  font-weight: 600;
  transition: 50ms ease-in-out;
  margin: 10px 5px;
}

.ItemSearch input[type="submit"] {
  border-radius: 4px;
  background: #97bfb4;
  border: 2px solid #f5eedc;
  color: #f5eedc;
  font-weight: 600;
  transition: 50ms ease-in-out;
  flex-grow: 1;
  margin: 10px 5px;
  height: fit-content;
}
.ItemSearch input[type="submit"]:hover {
  background: #f5eedc;
  color: #800e2e;
}
