.TimeInput {
  max-width: 700px;
  display: block;
  background-color: #97bfb4;
  color: #4f091d;
  border-radius: 15px;
}

.TimeInput form {
  display: flex;
}

.TimeInput select {
  border-radius: 4px;
  background: #f5eedc;
  border: 2px solid #f5eedc;
  color: #4f091d;
  transition: 50ms ease-in-out;
  text-align: center;
  margin: 5px 5px;
  height: fit-content;
  flex-grow: 1;
}

.TimeInput input[type="time"] {
  border-radius: 4px;
  background: #f5eedc;
  border: 2px solid #f5eedc;
  color: #4f091d;
  transition: 50ms ease-in-out;
  text-align: center;
  margin: 5px 5px;
  height: fit-content;
  flex-grow: 4;
}

.TimeInput input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}
