.ComponentInput {
  max-width: 700px;
  display: block;
  margin: 12px auto;
  padding: 15px 10px;
  background-color: #97bfb4;
  color: #4f091d;
  border-radius: 15px;
}

.ComponentInput h3 {
  font-size: 17px;
  font-weight: 600;
}

.ComponentInput p {
  font-size: 17px;
}

.ComponentInput .delete-button {
  color: #4f091d;
  font-size: 15px;
  border-radius: 4px;
  background-color: #97bfb4;
  border: none;
  transition: 50ms ease-in-out;
}
.ComponentInput .delete-button:hover {
  background: linear-gradient(325deg, #d4f0e8, #97bfb4, #97bfb4, #d4f0e8);
  color: #800e2e;
}

.ComponentInput .note-button {
  color: #4f091d;
  font-size: 15px;
  border-radius: 4px;
  background-color: #97bfb4;
  border: none;
  transition: 50ms ease-in-out;
}

.ComponentInput .note-button:hover {
  background: linear-gradient(325deg, #d4f0e8, #97bfb4, #97bfb4, #d4f0e8);
  color: #800e2e;
}
